*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(133, 66, 28);
    padding: 100px 0px
}
.container .search{
    display: flex; 
    justify-content: center;
}
.container h1, h2{
    text-align: center;
    margin: 20px 0px;
}

.container .search button, .container .search input{
    padding: 6px;
}
.container .search button i{
    font-size: 24px;
}
.container .search input{
    width: 250px;
}

.card{
    width: 100%;
    overflow: hidden;
    margin: 0px 5px;
    position: relative;
    border-radius: 6px;
}
.card .image img{
    width: 100%;
}
#meal-container{
    display: flex;
}
.card .content{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 5px;
    top: 0%;
    left: -100%;
    height: 100%;
    width: 100%;
    z-index: 9999;
    color: white;
    transition: 400ms ease;
    display: flex; 
    justify-content: center;
    align-items: center;
    
}
.card:hover .content{
    top: 0%;
    left: 0%;
}
@media (max-width: 425px){
    #meal-container{
        display: block;
    }
    .card{
        width: 90%;
        margin: 10px auto;
    }
}